<h1>Перелік наявних робіт</h1>

<table>

<% @vacancies.each do |vacancy| %>
  <tr>
    <td><%= link_to vacancy.title, vacancy %></td>
    <td><%= truncate(vacancy.description,:length => 50, :separator => ' ') %><%= link_to 'дізнатись більше', vacancy %></td>
  <% if user_signed_in? %>
    <td><%= link_to 'Edit', edit_vacancy_path(vacancy) %></td>
    <td><%= link_to 'Destroy', vacancy, :confirm => 'Are you sure?', :method => :delete %></td>
  <% end %>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? %> <%= link_to 'New Vacancy', new_vacancy_path %> <% end %>
