<h1>Перелік наявних робіт</h1>


<% @vacancies.each do |vacancy| %>
    <div id='titleind'>
  	<%= link_to vacancy.title, vacancy %>
  	</div>
  	<div class='clear'></div>
  	<div id='imgind'>
  		<%= image_tag(vacancy.category.img_url,:size => "100x100",:alt => vacancy.title) %>
  	</div>
  	<div id='textind'>
    <%= truncate(vacancy.description,:length => 100, :separator => ' ') %></br>
    <%= link_to 'дізнатись більше', vacancy %>
    </div>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_vacancy_path(vacancy) %>
    <%= link_to 'Destroy', vacancy, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
  <div class='line'></div>
<% end %>

<br />
<% if user_signed_in? %> <%= link_to 'New Vacancy', new_vacancy_path %> <% end %>
