<div style="padding:10px">
	<span class="titletext">Перелік наявних робіт</span>
</div>
<% if user_signed_in? %> 
	<%= link_to 'Додати нову роботу', new_vacancy_path %> 
<% end %>
<div class="bodytext" style="padding:12px;" align="justify">
<% @vacancies.each do |vacancy| %>
    <div id='imgind'>
  		<%= link_to (image_tag(vacancy.category.img_url,:size => "100x100",:alt => vacancy.title)),vacancy %>
  	</div>
  	<div id='titleind'>
  		<strong><%= link_to vacancy.title, vacancy %></strong>
  		<div class='clear'></div>
  			<div id='vacind'>
  				<div align="left" class="smallgraytext"> Вартість: <%= vacancy.price%></div>
  			</div>
  		<div class='clear'></div>
  		<div id='textind'>
	    <%= truncate(vacancy.short_desc,:length => 60, :separator => '') %></br>
	    <%= link_to 'дізнатись більше', vacancy %>
    	</div>
  	</div>
  <% if user_signed_in? %>
    <div class='clear'></div>
    <%= link_to 'Редагувати', edit_vacancy_path(vacancy) %>
    <%= link_to 'Видалити', vacancy, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
  <div class='line'></div>
<% end %>
	<div align="right" class="smallgraytext" style="padding:9px;">
		<%= will_paginate @vacancies, :previous_label =>"Попередня", :next_label => "Наступна" %>
	</div>
</div>
<br />