<p id="notice"><%= notice %></p>
<div id="submenu">
	<div align="right" class="smallgraytext" style="padding:9px;">
		<%= link_to("Попередня робота |", @vacancy.previous_vacancy) if @vacancy.previous_vacancy %>
		<%= link_to("Наступна робота", @vacancy.next_vacancy) if @vacancy.next_vacancy %>
	</div>
</div>
<div class="bodytext" style="padding:12px;" align="justify">
<div align="center" style="padding:5px;">
	<%= image_tag(@vacancy.category.img_url,:alt => @vacancy.title) %>
</div>
<div class='clear'></div>
<div align="center" style="padding:5px;">
	<strong><%= @vacancy.title %></strong>
  	<div class='clear'></div>
  	<div align="center" class="smallgraytext" style="padding:3px;"> Вартість: <%= @vacancy.price%></div>
</div>
<div class='clear'></div>
<div id='textind'>
	<%=raw @vacancy.description %>
</div>
<div class='clear'></div>
<div align="left" class="smalltitle" style="padding:9px;">
	Якщо Вас зацікавила дана пропозиція: <%= link_to 'Звяжіться з нами', new_contact_path(:title => @vacancy.title) %> <br />
</div>
</div>