<p id="notice"><%= notice %></p>
<div id="submenu">
	<div align="right" class="smallgraytext" style="padding:9px;">
		<%= link_to("Попередня робота |", @vacancy.previous_vacancy) if @vacancy.previous_vacancy %>
		<%= link_to("Наступна робота", @vacancy.next_vacancy) if @vacancy.next_vacancy %>
	</div>
</div>
</br>
<%= image_tag(@vacancy.category.img_url,:alt => @vacancy.title) %>

<p>
  <b>Title:</b>
  <%= @vacancy.title %>
</p>

<p>
  <b>Description:</b>
  <%= @vacancy.description %>
</p>

<p>
  <b>Price:</b>
  <%= @vacancy.price %>
</p>
<%= link_to 'Contact', new_contact_path(:title => @vacancy.title) %> <br />

<%= link_to 'Back', vacancies_path %>
