<p id="notice"><%= notice %></p>

<%= image_tag(@vacancy.category.img_url) %>

<p>
  <b>Title:</b>
  <%= @vacancy.title %>
</p>

<p>
  <b>Description:</b>
  <%= @vacancy.description %>
</p>

<p>
  <b>Price:</b>
  <%= @vacancy.price %>
</p>
<%= link_to 'Contact', new_contact_path %> <br />

<%= link_to 'Edit', edit_vacancy_path(@vacancy) %> |
<%= link_to 'Back', vacancies_path %>
