<%= semantic_form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.inputs do%>
	  <div class="field">
	    <%= f.input :title, :label => 'Тема:', :input_html => {:value => params[:title]} %><br />
	    
	    <%= f.input :name, :label => "Ваше імя:" %><br />
	    
	    <%= f.input :email, :label => "e-mail:" %><br />
	      
	    <%= f.input :phone, :label => "Телефон або Skype:" %><br />
	      
	    <%= f.input :message, :label => "Питання:" %><br />    
	  </div>
	<% end %>
	<%= f.buttons do%>
	  <div class="actions">
	    <%= f.commit_button :label => "Задати питання"%>
	  </div>
	<% end %>
<% end %>
