<h1>Перелік запитів</h1>

<table>
  <tr>
    <th>Тема</th>
    <th>Імя</th>
    <th>Email</th>
    <th>Телефон або Skype</th>
    <th>Питання</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.title %></td>
    <td><%= contact.name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.phone %></td>
    <td><%= contact.message %></td>
    <td><%= link_to 'Показати', contact %></td>
    <td><%= link_to 'Видалити', contact, :confirm => 'Ви впевнені, що хочете видалити запит?', :method => :delete %></td>
  </tr>
<% end %>
</table>
