<p id="notice"><%= notice %></p>
<div align="left" style="padding:5px;">
<p>
  <b>Тема:</b>
  <%= @contact.title %>
</p>

<p>
  <b>Імя:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Телефон:</b>
  <%= @contact.phone %>
</p>

<p>
  <b>Повідомлення:</b>
  <%= @contact.message %>
</p>

<%= link_to 'Видалити', @contact, :confirm => 'Ви впевнені, що хочете видалити Ваше питання?', :method => :delete %>
</div>