<%= semantic_form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.inputs do%>
	  <div class="field">
	    <%= f.input :title, :label => "Назва" %><br />
	    <%= f.input :img_url, :label => "Шлях до малюнку" %><br />
	  </div>
	<% end %>
	<%= f.buttons do%>
	  <div class="actions">
	    <%= f.commit_button %>
	  </div>
	<% end %>
<% end %>
