<h1>Перелік категорій</h1>

<table>
  <tr>
    <th>Назва</th>
    <th>Шлях до малюнку</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.title %></td>
    <td><%= category.img_url %></td>
    <td><%= link_to 'Показати', category %></td>
    <td><%= link_to 'Редагувати', edit_category_path(category) %></td>
    <td><%= link_to 'Видалити', category, :confirm => 'Ви впевнені, що хочете видалити категорію?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Додати категорію', new_category_path %>
