<p id="notice"><%= notice %></p>

<p>
  <b>Назва:</b>
  <%= @category.title %>
</p>

<p>
  <%= image_tag(@category.img_url) %>
</p>


<%= link_to 'Редагувати', edit_category_path(@category) %> |
<%= link_to 'Назад', categories_path %>
