<div id="logo"></div>
<div id="topheader">
	<div align="left" class="smallgraytext">
		<br />
		<strong>Кадрове агенство «West Partners»</strong><br />
		м.Калуш,Івано-Франківська обл.<br />
		вул. Євшана 9, каб.109<br />
		Телефон: +380(097)669-07-62, +380(097)944-57-65<br />
		skype: West-Partners<br />
		e-mail:<%= mail_to "westwork8@gmail.com", "westwork8@gmail.com", :encode => "javascript"%>
	</div>
	<div id="toplinks" class="smallgraytext">
		<%= link_to 'west-partners.com.ua', "http://west-partners.com.ua" %>
		<% if user_signed_in?%>
			<br /><%= link_to 'Запити', contacts_path%>|<%= link_to 'Категорії', categories_path%>|<%= link_to 'Вихід', '/logout'%>
		<% end %>
	</div>
</div>
<div id="menu">
	<div align="right" class="smallwhitetext" style="padding:9px;">
		<%= link_to 'Головна', root_path %> | <%= link_to 'Робота', vacancies_path %> |<%= link_to 'Що потрібно?', '/faq' %> | <%= link_to 'Задати питання', new_contact_path %> 
	</div>
</div>