<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="uk" lang="uk">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="Robots" content="all" />
	<meta name="author" content="ms" />
	<meta name="West Partners інформаційно- кадрове агенство , яке діє в сфері працевлаштування громадян України , а також громадян СНД за кордоном, зокрема в Польщі." content="Description" />
	<meta name="keywords" content="west-partners,west partners,west-partners.com.ua,www.west-partners.com.ua, робота,робота за кордоном,робота в Польщі,робота закордоном,шукаю роботу в Польщі, пошук роботи закордоном,west partners івано-франківськ,west partners калуш,west partners львів,west partners самбір" />
  <title>West-Partners інформаційно-кадрове агенство , яке діє в сфері працевлаштування громадян України за кордоном, зокрема в Польщі.</title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>
<div id="page" align="center">
		<div id="content" style="width:800px">
		    <%= render 'layouts/header' %>
				<div id="contenttext"><%= yield %></div>
			<%= render 'layouts/leftpanel'%>
			<%= render 'layouts/footer' %>
		</div>
</div>
</body>
</html>
