<!DOCTYPE html>
<html>
<head>
  <title>West-Partners</title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>
<div id="page" align="center">
		<div id="content" style="width:800px">
		    <%= render 'layouts/header' %>
				<div id="contenttext"><%= yield %></div>
			<%= render 'layouts/leftpanel'%>
			<%= render 'layouts/footer' %>
		</div>
</div>
</body>
</html>
